<nav class="user-nav navbar">
    <header class="text-center">
        <strong class="title"><span ng-hide="isAdmin">My </span>Ads</strong>
    </header>
    <!-- must be radio buttons -->
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="" ng-class="{ active: isActiveStatus('/publish-new-ad')}" ng-click="allClicked()">All</a>
        </li>
        <li>
            <a href="" ng-click="publishedCliked()">Published</a>
        </li>
        <li>
            <a href="" ng-click="waitingApprovalClicked()">Waiting Approval</a>
        </li>
        <li>
            <a href="" ng-click="inactiveClicked()">Inactive</a>
        </li>
        <li>
            <a href="" ng-click="rejectedClicked()">Rejected</a>
        </li>
    </ul>
</nav>