<section class="col-sm-12 col-md-8">
    <!-- Ads list -->
    <div ng-repeat="ad in adsList.ads" class="panel panel-primary">
        <div class="panel-heading">
            <strong class="title">{{ ad.title }}</strong><span class="pull-right">{{ ad.date | date: 'd MMM yyyy' }}</span>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <a href="{{ ad.imageDataUrl }}" class="thumbnail">
                        <img src="" ng-src="{{ ad.imageDataUrl }}" alt="image" />
                    </a>
                </div>
                <div class="col-xs-12 col-sm-9">
                    <p>{{ ad.text }}</p>
                    <ul class="list-group">
                        <li class="list-group-item">Name: <span>{{ ad.ownerName }}</span></li>
                        <li class="list-group-item">Email: <span><a href="mailto:{{ ad.ownerEmail }}">{{ ad.ownerEmail }}</a></span></li>
                        <li class="list-group-item">Phone: <span>{{ ad.ownerPhone }}</span></li>                                  
                    </ul>
                </div>                            
            </div>
        </div>
    </div>
    <!-- Paging -->
    <nav class="text-center">
        <ul pagination
            total-items="adsList.numItems"
            items-per-page="adsPerPage"
            ng-model="currentPage"
            max-size="maxSize"
            ng-click="pageChanged()"
            boundary-links="true"
            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
        </ul>
    </nav>
</section>
<!-- Filters side bar -->
<aside ng-controller="RightSideBarFilters" class="col-sm-12 col-md-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <strong class="title">Filters</strong>
        </div>
        <div class="panel-body">
            <div class="row">
                <section class="col-xs-12 col-sm-6 col-md-12">
                    <h4>Categories</h4>
                    <select class="form-control selectpicker col-md-12" ng-model="categorieId" ng-change="filterItemChnaged()">
                        <!-- ng-options="cat as cat.name for cat in categories track by cat.id"> -->
                        <option value="" ng-selected="true">All</option>
                        <option ng-repeat="cat in categories" ng-value="{{ cat.id }}">{{ cat.name }}</option>
                    </select>
                </section>
                <section class="col-xs-12 col-sm-6 col-md-12"> 
                    <h4>Towns</h4>
                    <select class="form-control selectpicker" ng-model="townId" ng-change="filterItemChnaged()">
                        <!-- ng-options="twn as twn.name for twn in towns track by twn.id"> -->
                        <option value="" ng-selected="true">All</option>
                        <option ng-repeat="town in towns" ng-value="{{ town.id }}">{{ town.name }}</option>                     
                    </select>
                </section>
             </div>
        </div>
    </div>
</aside>