<nav class="user-nav navbar">
    <header class="text-center">
        <strong class="title"><span ng-hide="isAdmin">My </span>Ads</strong>
    </header>
    <!-- must be radio buttons -->
    <ul class="nav nav-pills nav-stacked side-menu">
        <li ng-class="{ active: adStatus == 'All'}">
            <a href="" ng-click="adStatusClicked('All')">All</a>
        </li>
        <li ng-class="{ active: adStatus == 'Published'}">
            <a href="" ng-click="adStatusClicked('Published')">Published</a>
        </li>
        <li ng-class="{ active: adStatus == 'WaitingApproval'}">
            <a href="" ng-click="adStatusClicked('WaitingApproval')">Waiting Approval</a>
        </li>
        <li ng-class="{ active: adStatus == 'Inactive'}" >
            <a href="" ng-click="adStatusClicked('Inactive')">Inactive</a>
        </li>
        <li ng-class="{ active: adStatus == 'Rejected'}">
            <a href="" ng-click="adStatusClicked('Rejected')">Rejected</a>
        </li>
    </ul>
</nav>