<section class="col-md-9 col-lg-8 col-lg-offset-1">
    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <strong class="title">Publish New Ad</strong>
        </div>
        <div class="panel-body">
            <form id="publish-new-ad-form" name="publishNewForm" class="form-horizontal" novalidate="novalidate" ng-submit="publishNewAd()">
               <div class="row">
                    <div id="ad-data" class="col-sm-6">
                        <div>
                            <span>Title:</span>
                            <input type="text"
                                placeholder="Title"
                                class="form-control"
                                name="title"
                                ng-model="newAdData.title"
                                required="required" />
                        </div>                   
                        <div>
                            <span>Text:</span>                           
                            <textarea class="form-control"                  
                                name="text"
                                ng-model="newAdData.text"
                                required="required"></textarea>
                        </div>
                               
                        <div>
                            <span>Category:</span>
                            <select class="form-control selectpicker" ng-model="newAdData.categoryId">
                                <option value="" ng-selected="true">Nome</option>
                                <option ng-repeat="cat in categories" ng-value="{{ cat.id }}">{{ cat.name }}</option>
                            </select>
                        </div>
                        <div>
                            <span for="town">Town:</span>
                            <select class="form-control selectpicker" ng-model="newAdData.townId">
                                <option value="" ng-selected="true">None</option>
                                <option ng-repeat="town in towns" ng-value="{{ town.id }}">{{ town.name }}</option>                     
                            </select>
                        </div>                       
                    </div>                    
                    <div id="browse" class="col-sm-6">
                        <div id="image-box" class="text-center">Image Preview</div>
                        <div class="text-right">
                            <span>Image:</span>
                            <label class="btn btn-primary" for="file-browse">
                                <input id="file-browse" type="file" style="display: none;"
                                    onchange="angular.element(this).scope().fileSelected(this)" />
                                Browse...
                            </label>                            
                        </div>
                    </div>
                </div>
                
                <div class="text-center">
                    <button id="submit-ad" type="submit" class="btn btn-primary"
                        ng-disabled="publishNewForm.$invalid">Publish</button>
                    <a id="cancel-ad" class="btn btn-primary" href="#/">Cancel</a>                        
                </div>                
            </form>
        </div>    
    </div>
</section>