<section class="col-md-10">   
    <div id="reg-form" class="panel panel-primary">
        <div class="panel-heading">
            <strong class="title">User Registration</strong>
        </div>
        <div class="panel-body">
            <form name="registerForm" class="form-group" novalidate="novalidate" ng-submit="registerUser()">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <span>Username:</span>
                        <span class="text-danger"
                            ng-show="registerForm.username.$dirty && registerForm.username.$invalid">
                            <span 
                                ng-show="registerForm.username.$error.required">
                                The username is required.
                            </span>
                            <span 
                                ng-show="registerForm.username.$error.pattern">
                                The username can't contain white space.
                            </span>
                        </span>
                        <input type="text"
                            placeholder="Enter username"
                            class="form-control"
                            name="username"
                            ng-model="regUserData.username"
                            ng-trim="false"
                            ng-pattern="/^[\S]*$/"
                            required="required" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <span>Password:</span>
                        <span class="text-danger"
                            ng-show="registerForm.password.$dirty && registerForm.password.$invalid">
                            <span 
                                ng-show="registerForm.password.$error.required">
                                The password is required.
                            </span>
                            <span 
                                ng-show="registerForm.password.$error.minlength">
                                 The password must be at least 3 characters.
                            </span>
                            <span 
                                ng-show="registerForm.password.$error.pattern">
                                The password can't contain white space.
                            </span>
                        </span>
                        <input type="password"
                            placeholder="Enter password"
                            class="form-control"
                            name="password"
                            ng-model="regUserData.password"
                            ng-minlength="3"
                            ng-trim="false"
                            ng-pattern="/^[\S]*$/"
                            required="required" />
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <span>Confirm password:</span>
                        <span class="text-danger"
                            ng-show="registerForm.confirmPassword.$invalid">
                            <span 
                                ng-show="registerForm.confirmPassword.$error.passwordmatch">
                                The password do not match.
                            </span>
                        </span>
                        <input type="password"
                            placeholder="Confirm password"
                            class="form-control"
                            name="confirmPassword"
                            ng-model="regUserData.confirmPassword"
                            password-match="regUserData.password"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <span>Name:</span>
                        <span class="text-danger"
                            ng-show="registerForm.name.$dirty && registerForm.name.$invalid">
                            <span 
                                ng-show="registerForm.name.$error.required">
                                The name is required.
                            </span>
                            <span 
                                ng-show="registerForm.name.$error.pattern">
                                Name must be in format 'Jon Doe'.
                            </span>
                        </span>
                        <input type="text"
                            placeholder="Enter first and second name"
                            class="form-control"
                            name="name"
                            ng-model="regUserData.name"
                            ng-pattern="/[A-Za-z]+ [A-Za-z]+/"
                            required="required" />
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <span>Email:</span>
                        <span class="text-danger"
                            ng-show="registerForm.email.$dirty && registerForm.email.$invalid">
                            <span 
                                ng-show="registerForm.email.$error.required">
                                The email is required.
                            </span>
                            <span 
                                ng-show="registerForm.email.$error.pattern">
                                Enter valid email.
                            </span>
                        </span>
                        <input type="email"
                            placeholder="Enter email"
                            class="form-control"
                            name="email"
                            ng-model="regUserData.email"
                            ng-pattern="/\S+@\S+\.\S+/"
                            required="required"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <span>Phone:</span>
                        <span class="text-danger"
                            ng-show="registerForm.phone.$dirty && registerForm.phone.$invalid">
                            <span 
                                ng-show="registerForm.phone.$error.required">
                                The phone is required.
                            </span>
                            <span 
                                ng-show="registerForm.phone.$error.pattern">
                                The phone must be in format '0999 99 99 99'.
                            </span>
                        </span>
                        <input type="text"
                            placeholder="Enter phone"
                            class="form-control"
                            name="phone"
                            ng-model="regUserData.phone"
                            ng-pattern="/(\d{4}) (\d{2}) (\d{2}) (\d{2})/"
                            required="required" />
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <span>Town:</span>
                        <select class="form-control selectpicker"
                            name="townId" ng-model="regUserData.townId">
                            <option value="" ng-selected="true">Choose town</option>
                            <option ng-repeat="town in towns" ng-value="{{ town.id }}">{{ town.name }}</option>                     
                        </select>
                    </div>                    
                </div> 
                <div class="row text-center">
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-primary"
                            ng-disabled="registerForm.$invalid">Register</button>
                    </div>
                    <div class="col-xs-6">
                        <a class="btn btn-link" href="/#/login-form">Login here</a>                        
                    </div>
                </div>              
            </form>
        </div>
    </div>
</section>