<section class="col-md-10">   
    <div id="reg-form" class="panel panel-primary">
        <div class="panel-heading">
            <strong class="title">User Registration</strong>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <span>Username:</span>
                        <input type="text" class="form-control" placeholder="Enter username">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <span>Password:</span>
                        <input type="password" class="form-control" placeholder="Enter password">
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <span>Confirm password:</span>
                        <input type="password" class="form-control" placeholder="Confirm password">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <span>Full name:</span>
                        <input type="text" class="form-control" placeholder="Enter full name">
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <span for="exampleInputEmail1">Email:</span>
                        <input type="email" class="form-control" placeholder="Enter email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <span for="exampleInputPassword1">Phone:</span>
                        <input type="text" class="form-control" placeholder="Enter phone">
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <span>Town:</span>
                        <select class="form-control selectpicker" ng-model="townId">    <!-- might cause a bug due to conflict with townId for filters -->
                            <option value="" ng-selected="true">Choose town</option>
                            <option ng-repeat="town in towns" ng-value="{{ town.id }}">{{ town.name }}</option>                     
                        </select>
                    </div>                    
                </div> 
                <div class="row text-center">
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                    <div class="col-xs-6">
                        <a class="btn btn-link" href="">Login here</a>                        
                    </div>
                </div>              
            </div>
        </div>
    </div>
</section>