<section class="col-md-10">   
    <div id="reg-form" class="panel panel-primary">
        <div class="panel-heading">
            <strong class="title">User Registration</strong>
        </div>
        <div class="panel-body">
            <form name="registerForm" class="form-group" novalidate="novalidate" ng-submit="registerUser()">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <span>Username:</span>
                        <span class="text-danger"
                            ng-show="registerForm.username.$dirty && registerForm.username.$invalid">
                            <span 
                                ng-show="registerForm.username.$error.required">
                                The username is required.
                            </span>
                            <span 
                                ng-show="registerForm.username.$error.minlength">
                                The username must be at least 3 characters.
                            </span>
                            <span 
                                ng-show="registerForm.username.$error.pattern">
                                The username cannot contain white space.
                            </span>
                        </span>
                        <input type="text"
                            placeholder="Enter username"
                            class="form-control"
                            name="username"
                            ng-model="userData.username"
                            ng-minlength="3"
                            ng-trim="false"
                            ng-pattern="/^[\S]*$/"
                            required="required" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <span>Password:</span>
                        <span class="text-danger"
                            ng-show="registerForm.password.$dirty && registerForm.password.$invalid">
                            <span 
                                ng-show="registerForm.password.$error.required">
                                The password is required.
                            </span>
                            <span 
                                ng-show="registerForm.password.$error.minlength">
                                 The password is to weak.
                            </span>
                            <span 
                                ng-show="registerForm.password.$error.pattern">
                                The password cannot contain white space.
                            </span>
                        </span>
                        <input type="password"
                            placeholder="Enter password"
                            class="form-control"
                            name="password"
                            ng-model="userData.password"
                            ng-minlength="3"
                            ng-trim="false"
                            ng-pattern="/^[\S]*$/"
                            required="required" />
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <span>Confirm password:</span>
                        <input type="password"
                            placeholder="Confirm password"
                            class="form-control"
                             />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <span>Full name:</span>
                        <input type="text" class="form-control" placeholder="Enter full name">
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <span for="exampleInputEmail1">Email:</span>
                        <input type="email" class="form-control" placeholder="Enter email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <span for="exampleInputPassword1">Phone:</span>
                        <input type="text" class="form-control" placeholder="Enter phone">
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <span>Town:</span>
                        <select class="form-control selectpicker" ng-model="townId">
                            <option value="" ng-selected="true">Choose town</option>
                            <option ng-repeat="town in towns" ng-value="{{ town.id }}">{{ town.name }}</option>                     
                        </select>
                    </div>                    
                </div> 
                <div class="row text-center">
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                    <div class="col-xs-6">
                        <a class="btn btn-link" href="">Login here</a>                        
                    </div>
                </div>              
            </form>
        </div>
    </div>
</section>