<!-- User -->
<section ng-show="hasUser">
    <nav class="user-nav navbar">
        <!-- Navigation -->
        <header class="text-center">
            <strong class="title">Navigation</strong>
        </header>
        <ul class="nav nav-pills nav-stacked side-menu">
            <li ng-class="{ active: isActivePath('/')}">
                <a href="#/">Home</a>
            </li>
            
            <li ng-class="{ active: isActivePath('/user-ads')}">
                <a href="#/user-ads">My Ads</a>
            </li>
            <li ng-class="{ active: isActivePath('/publish-new-ad')}">
                <a href="#/publish-new-ad">Publish New Ad</a>
            </li>
            <li ng-class="{ active: isActivePath('/user-profile-edit')}">
                <a href="#/user-profile-edit">Edit Profile</a>
            </li>
        </ul>
    </nav>
    <!-- Ads status filter -->
    <div ng-include="'templates/ads-status-menu.html'" ng-show="isActivePath('/user-ads')"></div>
</section>