<!-- User -->
<section ng-show="hasUser">
    <nav class="user-nav navbar">
        <!-- Navigation -->
        <header class="text-center">
            <strong class="title">Navigation</strong>
        </header>
        <ul id="tree" class="nav nav-pills nav-stacked">
            <li ng-class="{ active: isActive('/')}">
                <a href="#/">Home</a>
            </li>
            <!-- My ads -->
            <li ng-class="{ active: isActive('/user-ads')}">
                <a href="" ng-click="myAdsClicked()">My Ads <span class="caret"></span></a>
                <ul id="sub-menu" class="nav nav-pills nav-stacked" ng-hide="isHidedMyAds">
                    <!-- must be radio buttons -->
                    <li>
                        <a href="#/user-ads" ng-click="allClicked()">All</a>
                    </li>
                    <li>
                        <a href="#/user-ads" ng-click="publishedCliked()">Published</a>
                    </li>
                    <li>
                        <a href="#/user-ads" ng-click="waitingApprovalClicked()">Waiting Approval</a>
                    </li>
                    <li>
                        <a href="#/user-ads" ng-click="inactiveClicked()">Inactive</a>
                    </li>
                    <li>
                        <a href="#/user-ads" ng-click="rejectedClicked()">Rejected</a>
                    </li>
                </ul>
            </li>
            <li ng-class="{ active: isActive('/publish-new-ad')}">
                <a href="#/publish-new-ad">Publish New Ad</a>
            </li>
            <li ng-class="{ active: isActive('/#')}">
                <a href="#/user-profile-edit">Edit Profile</a>
            </li>
        </ul>
    </nav>
    <script src="libs/jQuery/jquery-tree-view.js"></script>
</section>