<section class="col-sm-12 col-md-10">
    <!-- Ads list -->
    <div class="panel panel-primary" ng-repeat="ad in userAds.ads">
        <div class="panel-heading">
            <strong class="title">{{ ad.title }}</strong><span class="pull-right">{{ ad.date | date: 'd MMM yyyy' }}</span>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <a href="{{ ad.imageDataUrl }}" class="thumbnail">
                        <img src="" alt="image" ng-src="{{ ad.imageDataUrl }}" err-src="../img/no-image.gif" />
                    </a>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-6">
                    <p>{{ ad.text }}</p>
                    <ul class="list-group">
                        <li class="list-group-item">Category: <span>{{ ad.categoryName }}</span></li>
                        <li class="list-group-item">Town: <span>{{ ad.townName }}</span></li>                                
                    </ul>
                </div>
                <div class="col-md-3 text-center">
                    <strong>Status:</strong>
                    <div class="well well-sm status-box">
                        <span class="title">{{ ad.status }}</span>
                    </div>
                    <div>
                        <button class="btn btn-primary ad-status-btn" ng-hide="ad.status == 'Inactive'"
                        ng-click="deactivateAd(ad.id)">Deactive</button>
                    </div>                    
                    <section ng-show="ad.status == 'Inactive'">
                        <button class="btn btn-primary ad-status-btn" ng-click="editAd(ad.id)">Edit</button>
                        <button class="btn btn-primary ad-status-btn" ng-click="publishAgainAd(ad.id)">Publish Again</button>
                        <button class="btn btn-primary ad-status-btn" ng-click="deleteAd(ad.id)">Delete</button>                    
                    </section>
                </div>
            </div>                          
        </div>
    </div>
    <!-- Paging -->
    <nav class="text-center">
        <ul pagination
            total-items="totalAds"
            items-per-page="adsPerPage"
            ng-model="currentPage"
            max-size="pagerMaxSize"
            ng-change="pageChanged()"
            boundary-links="true"
            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
        </ul>
    </nav>
</section>