<!-- Admin -->
<section>
    <nav class="user-nav navbar">
        <!-- Navigation -->
        <header class="text-center">
            <strong class="title">Navigation</strong>
        </header>
        <ul id="tree" class="nav nav-pills nav-stacked">
            <li ng-class="{ active: isActivePath('/')}">
                <a href="#/">Ads</a>
            </li>
            <li ng-class="{ active: isActivePath('/admin-users-list')}">
                <a href="#/admin-users-list">Users</a>
            </li>
            <li ng-class="{ active: isActivePath('/admin-categories-list')}">
                <a href="#/admin-categories-list">Categiries</a>
            </li>
            <li>
                <a href="">Towns</a>
            </li>
        </ul>
    </nav>
    <!-- Ads status filter -->
    <div ng-include="'templates/ads-status-menu.html'" ng-show="isActivePath('/')"></div>   
</section>