<div class="row">
    <aside class="hidden-xs hidden-sm col-md-2 col-lg-2" ng-controller="NavigationBars" >
        <div ng-include="'templates/admin/admin-sidenav-menu.html'"></div>                     
    </aside>
    <!-- Content -->
    <section class="col-md-5 col-md-offset-2">
        <!-- <div class="table-responsive"> -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th ng-click="reverseSort = !reverseSort; sortByPropertyClicked('Id')">
                            <span class="sort-title">Id </span>
                            <span ng-show="sortUsersBy == 'Id' || sortUsersBy == '-Id'">
                                <span ng-show="reverseSort" class="caret"></span>
                                <span ng-hide="reverseSort" class="dropup">
                                    <span class="caret"></span>
                                </span>
                            </span>
                        </th>
                        <th ng-click="reverseSort = !reverseSort; sortByPropertyClicked('Name')">
                            <span class="sort-title">Category </span>
                            <span ng-show="sortUsersBy == 'Name' || sortUsersBy == '-Name'">
                                <span ng-show="reverseSort" class="caret"></span>
                                <span ng-hide="reverseSort" class="dropup">
                                    <span class="caret"></span>
                                </span>
                            </span>
                        </th>                      
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="category in categories">
                        <td>{{ category.id }}</td>
                        <td>{{ category.username }}</td>
                        <td>                            
                            <a href="" class="btn-link" ng-click="editCategoryClicked(category)"
                                data-toggle="modal" data-target="#edit-modal">Edit</a> 
                            <a href="" class="btn-link" ng-click="deleteCategoryClicked(category)"
                                data-toggle="modal" data-target="#delete-modal">Delete</a>                           
                        </td>
                    </tr>               
                </tbody>
            </table>
        <!-- </div> -->
        <!-- Paging -->
        <div ng-include="'templates/pagination.html'"></div>
        <!-- <nav class="text-center">
            <ul pagination
                total-items="totalItems"
                items-per-page="itemPerPage"
                ng-model="currentPage"
                max-size="pagerMaxSize"
                ng-change="pageChanged()"
                boundary-links="true"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
            </ul>
        </nav>  -->
        <button type="button" class="btn btn-default create-btn"
            data-toggle="modal" data-target="#create-modal">Create New Category</button>
        <!-- Modal Delete category -->
        <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="delete-modal-label">Confirm Deleting Category?</h4>
                    </div>
                    <div class="modal-body">
                        <div class="mod-cnt">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    Categori: <span>{{ categoryForDeleting.username }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Cancel
                        </button>
                        <button type="button" class="btn btn-primary"  data-dismiss="modal"
                            ng-click="deleteCategoryConfirmed()">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Create category -->
        <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="create-modal-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="create-modal-label">Create Category</h4>
                    </div>
                    <form name="createCategory" class="form-group" novalidate="novalidate">
                        <div class="modal-body">
                            <div class="mod-cnt">                                                            
                                    <span>Category:</span>
                                    <span class="text-danger"
                                        ng-show="createCategory.name.$dirty && createCategory.name.$invalid">
                                        <span 
                                            ng-show="createCategory.name.$error.required">
                                            Required!
                                        </span>
                                        <span 
                                            ng-show="createCategory.name.$error.pattern">
                                            Only letters are allowed.
                                        </span>
                                    </span>
                                    <input type="text"
                                        placeholder="Name"
                                        class="form-control"
                                        name="name"
                                        ng-model="newCategory.name"
                                        ng-pattern="/^[a-z A-Z]+$/"
                                        required="required" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-primary" data-dismiss="modal"
                                ng-disabled="createCategory.$invalid"
                                ng-click="adminCreateCategory()">
                                Create
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>         
        <!-- Modal Edit category -->
        <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="edit-modal-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="create-modal-label">Edit Category</h4>
                    </div>
                    <form name="editCategory" class="form-group" novalidate="novalidate">
                        <div class="modal-body">
                            <div class="mod-cnt">                                                            
                                    <span>Category:</span>
                                    <span class="text-danger"
                                        ng-show="editCategory.name.$dirty && createCategory.name.$invalid">
                                        <span 
                                            ng-show="editCategory.name.$error.required">
                                            Required!
                                        </span>
                                        <span 
                                            ng-show="editCategory.name.$error.pattern">
                                            Only letters are allowed.
                                        </span>
                                    </span>
                                    <input type="text"
                                        placeholder="Name"
                                        class="form-control"
                                        name="name"
                                        ng-model="editedCategory.name"
                                        ng-pattern="/^[a-z A-Z]+$/"
                                        required="required" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-primary" data-dismiss="modal"
                                ng-disabled="editCategory.$invalid || !editCategory.$dirty"
                                ng-click="adminEditCategory()">
                                Edit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </section>   
</div>