<!-- Admin -->
<section>
    <nav class="user-nav navbar">
        <!-- Navigation -->
        <header class="text-center">
            <strong class="title">Navigation</strong>
        </header>
        <ul id="tree" class="nav nav-pills nav-stacked">
            <li>
                <a href="#/">Ads</a>
            </li>
            <li>
                <a href="#/publish-new-ad">Users</a>
            </li>
            <li>
                <a href="#/user-profile-edit">Categiries</a>
            </li>
            <li>
                <a href="#/user-profile-edit">Towns</a>
            </li>
        </ul>
    </nav>
    <nav class="user-nav navbar">
        <!-- Ads -->
        <header class="text-center">
            <strong class="title">Ads</strong>
        </header>
        <ul id="tree" class="nav nav-pills nav-stacked">
            <li>
                <a href="">All</a>
            </li>
            <li>
                <a href="">Published</a>
            </li>
            <li>
                <a href="">Waiting Approval</a>
            </li>
            <li>
                <a href="">Inactive</a>
            </li>
            <li>
                <a href="">Rejected</a>
            </li>
        </ul>
    </nav>    
</section>