<div class="row">
    <aside class="hidden-xs hidden-sm col-md-2 col-lg-2" ng-controller="NavigationBars" >
        <div ng-include="'templates/admin/admin-sidenav-menu.html'"></div>
    </aside>
    <!-- Content -->
    <section class="col-sm-12 col-md-8">
        <!-- Ads list -->
        <!-- ng-repeat="ad in adsList.ads" -->
        <div  class="panel panel-primary">
            <div class="panel-heading">
                <strong class="title">{{ ad.title }}</strong><span class="pull-right">{{ ad.date | date: 'd MMM yyyy' }}</span>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <a href="{{ ad.imageDataUrl }}" class="thumbnail">
                            <img src="" alt="image" ng-src="{{ ad.imageDataUrl }}"
                                err-src="../img/no-image.gif" />
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <p>{{ ad.text }}</p>
                        <ul class="list-group">
                            <li class="list-group-item">Username: <span>{{  }}</span></li>
                            <li class="list-group-item">Name: <span>{{ ad.ownerName }}</span></li>
                            <li class="list-group-item">Email: <span><a href="mailto:{{ ad.ownerEmail }}">{{ ad.ownerEmail }}</a></span></li>
                            <li class="list-group-item">Phone: <span>{{ ad.ownerPhone }}</span></li>
                            <li class="list-group-item">Category: <span>{{  }}</span></li>
                            <li class="list-group-item">Town: <span>{{  }}</span></li>                              
                        </ul>
                    </div>                            
                </div>
            </div>
        </div>
    </section>
</div>