<div class="row">
    <!-- Left side bar -->
    <aside class="hidden-xs hidden-sm col-md-2 col-lg-2" ng-controller="NavigationBars" >
        <div ng-include="'templates/admin/admin-sidenav-menu.html'"></div>  
    </aside>
    <!-- Content -->
    <section class="col-sm-12 col-md-10">
        <div class="row">
            <!-- Edit profile -->
            <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1"> 
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <strong class="title">Edit User Profile</strong>
                    </div>
                    <div class="panel-body form">
                        <form name="editUserForm" class="form-group" novalidate="novalidate" ng-submit="adminEditUser()">
                            <div>
                                <span>Username:</span>
                                <div class="well well-sm status-box">
                                    <span>{{ userForEdit.username }}</span>
                                </div>
                                <span>Name:</span>
                                <span class="text-danger"
                                    ng-show="editUserForm.name.$invalid">
                                    <span 
                                        ng-show="editUserForm.name.$error.required">
                                        The name is required.
                                    </span>
                                    <span 
                                        ng-show="editUserForm.name.$error.pattern">
                                        The name must be in format 'Jon Doe'.
                                    </span>
                                </span>
                                <input type="text"
                                    placeholder="Name"
                                    class="form-control"
                                    name="name"
                                    ng-model="userForEdit.name"
                                    ng-pattern="/[A-Za-z]+ [A-Za-z]+/"
                                    required="required" />
                            </div>
                            <div>
                                <span>Email:</span>
                                <span class="text-danger"
                                    ng-show="editUserForm.email.$invalid">
                                    <span 
                                        ng-show="editUserForm.email.$error.required">
                                        The email is required.
                                    </span>
                                    <span 
                                        ng-show="editUserForm.email.$error.pattern">
                                        Enter valid email.
                                    </span>
                                </span>
                                <input type="email"
                                    placeholder="Email"
                                    class="form-control"
                                    name="email"
                                    ng-model="userForEdit.email"
                                    ng-pattern="/\S+@\S+\.\S+/"
                                    required="required"/>
                            </div>
                            <div>
                                <span>Phone:</span>
                                <span class="text-danger"
                                    ng-show="editUserForm.phone.$invalid">
                                    <span 
                                        ng-show="editUserForm.phone.$error.required">
                                        The phone is required.
                                    </span>
                                    <span 
                                        ng-show="editUserForm.phone.$error.pattern">
                                        The phone must be in format '0999 99 99 99'.
                                    </span>
                                </span>
                                <input type="text"
                                    placeholder="Phone"
                                    class="form-control"
                                    name="phone"
                                    ng-model="userForEdit.phoneNumber"
                                    ng-pattern="/(\d{4}) (\d{2}) (\d{2}) (\d{2})/"
                                    required="required" />
                            </div>                            
                            <div>
                                <span>Town:</span>
                                <select class="form-control selectpicker"
                                    ng-model="userForEdit.townId">
                                    <option ng-repeat="town in towns"
                                        ng-selected="userForEdit.townId==town.id"
                                        ng-value="{{ town.id }}">{{ town.name }}</option>                     
                                </select>
                            </div>
                            <label class="label-edit">
                                <input type="checkbox" name="isUserAdmin" ng-model="userForEdit.isAdmin" />
                                Change                                    
                            </label>
                            <div class="row text-center">
                                <div class="col-xs-6">
                                    <button type="submit" class="btn btn-primary"
                                        ng-disabled="editUserForm.$invalid || !editUserForm.$dirty">Update</button>
                                </div>
                                <div class="col-xs-6">
                                    <a class="btn btn-primary" href="#/admin-users-list">Cancel</a>                        
                                </div>
                            </div>              
                        </form>
                    </div>
                </div>  
            </div>
            <!-- Change password -->
            <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1"> 
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <strong class="title">Change Password</strong>
                    </div>
                    <div class="panel-body form">
                        <form name="changePasswordForm" class="form-group" novalidate="novalidate" ng-submit="passwordChange()">
                            <div>
                                <span>Old password:</span>
                                <span class="text-danger"
                                    ng-show="changePasswordForm.oldPassword.$dirty && changePasswordForm.oldPassword.$invalid">
                                    <span 
                                        ng-show="changePasswordForm.oldPassword.$error.required">
                                        The password is required.
                                    </span>
                                    <span 
                                        ng-show="changePasswordForm.oldPassword.$error.minlength">
                                         The password is at least 3 characters.
                                    </span>
                                    <span 
                                        ng-show="changePasswordForm.oldPassword.$error.pattern">
                                        The password can't contain white space.
                                    </span>
                                </span>
                                <input type="password"
                                    placeholder="Enter password"
                                    class="form-control"
                                    name="oldPassword"
                                    ng-model="passData.oldPassword"
                                    ng-minlength="3"
                                    ng-trim="false"
                                    ng-pattern="/^[\S]*$/"
                                    required="required" />
                            </div>
                            <div>
                                <span>New password:</span>
                                <span class="text-danger"
                                    ng-show="changePasswordForm.newPassword.$dirty && changePasswordForm.newPassword.$invalid">
                                    <span 
                                        ng-show="changePasswordForm.password.$error.required">
                                        The password is required.
                                    </span>
                                    <span 
                                        ng-show="changePasswordForm.newPassword.$error.minlength">
                                         The password must be at least 3 characters.
                                    </span>
                                    <span 
                                        ng-show="changePasswordForm.newPassword.$error.pattern">
                                        The password can't contain white space.
                                    </span>
                                </span>
                                <input type="password"
                                    placeholder="Enter password"
                                    class="form-control"
                                    name="newPassword"
                                    ng-model="passData.newPassword"
                                    ng-minlength="3"
                                    ng-trim="false"
                                    ng-pattern="/^[\S]*$/"
                                    required="required" />
                            </div>
                            <div>
                                <span>Confirm password:</span>
                                <span class="text-danger"
                                    ng-show="changePasswordForm.confirmPassword.$invalid">
                                    <span 
                                        ng-show="changePasswordForm.confirmPassword.$error.passwordmatch">
                                        The password do not match.
                                    </span>
                                </span>
                                <input type="password"
                                    placeholder="Confirm password"
                                    class="form-control"
                                    name="confirmPassword"
                                    ng-model="passData.confirmPassword"
                                    password-match="passData.newPassword"/>
                            </div>
                            <div class="row text-center">
                                <div class="col-xs-6">
                                    <button type="submit" class="btn btn-primary"
                                        ng-disabled="changePasswordForm.$invalid">Change</button>
                                </div>
                                <div class="col-xs-6">
                                    <a class="btn btn-primary" href="#/">Cancel</a>                        
                                </div>
                            </div>              
                        </form>
                    </div>
                </div>  
            </div>
        </div>        
    </section>
</div>