<!-- Admin -->
<section>
    <nav class="user-nav navbar">
        <!-- Navigation -->
        <header class="text-center">
            <strong class="title">Navigation</strong>
        </header>
        <ul id="tree" class="nav nav-pills nav-stacked">
            <li ng-class="{ active: isActive('/')}">
                <a href="#/">Ads</a>
            </li>
            <li>
                <a href="#/">Users</a>
            </li>
            <li>
                <a href="#/">Categiries</a>
            </li>
            <li>
                <a href="#/">Towns</a>
            </li>
        </ul>
    </nav>
    <!-- Ads -->
    <nav class="user-nav navbar" ng-show="isActive('/')">        
        <header class="text-center">
            <strong class="title">Ads</strong>
        </header>
        <!-- must be radio buttons -->
        <ul id="tree" class="nav nav-pills nav-stacked">
            <li>
                <a href="">All</a>
            </li>
            <li>
                <a href="">Published</a>
            </li>
            <li>
                <a href="">Waiting Approval</a>
            </li>
            <li>
                <a href="">Inactive</a>
            </li>
            <li>
                <a href="">Rejected</a>
            </li>
        </ul>
    </nav>    
</section>