<div class="row">
    <aside class="hidden-xs hidden-sm col-md-2 col-lg-2" ng-controller="NavigationBars" >
        <div ng-switch on="isAdmin">
            <div ng-include="'templates/admin/admin-sidenav-menu.html'"></div>                     
        </div>
    </aside>
    <!-- Content -->
    <section class="col-md-9 col-md-offset-1">
        <!-- <div class="table-responsive"> -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th ng-click="reverseSort = !reverseSort; sortByPropertyClicked('UserName')">
                            <span class="sort-title">Username </span>
                            <span ng-show="sortUsersBy == 'UserName' || sortUsersBy == '-UserName'">
                                <span ng-show="reverseSort" class="caret"></span>
                                <span ng-hide="reverseSort" class="dropup">
                                    <span class="caret"></span>
                                </span>
                            </span>
                        </th>
                        <th ng-click="reverseSort = !reverseSort; sortByPropertyClicked('Name')">
                            <span class="sort-title">Name </span>
                            <span ng-show="sortUsersBy == 'Name' || sortUsersBy == '-Name'">
                                <span ng-show="reverseSort" class="caret"></span>
                                <span ng-hide="reverseSort" class="dropup">
                                    <span class="caret"></span>
                                </span>
                            </span>
                        </th>
                        <th ng-click="reverseSort = !reverseSort; sortByPropertyClicked('Email')">
                            <span class="sort-title">Email </span>
                            <span ng-show="sortUsersBy == 'Email' || sortUsersBy == '-Email'">
                                <span ng-show="reverseSort" class="caret"></span>
                                <span ng-hide="reverseSort" class="dropup">
                                    <span class="caret"></span>
                                </span>
                            </span>
                        </th>
                        <th ng-click="reverseSort = !reverseSort; sortByPropertyClicked('PhoneNumber')">
                            <span class="sort-title">Phone </span>
                            <span ng-show="sortUsersBy == 'PhoneNumber' || sortUsersBy == '-PhoneNumber'">
                                <span ng-show="reverseSort" class="caret"></span>
                                <span ng-hide="reverseSort" class="dropup">
                                    <span class="caret"></span>
                                </span>
                            </span>
                        </th>                       
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in usersList">
                        <td>{{ user.username }}</td>
                        <td>{{ user.name }}</td>
                        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                        <td>{{ user.phoneNumber }}</td>
                        <td><a href="" class="btn-link">Edit</a> <a href="" class="btn-link">Delete</a></td>
                    </tr>               
                </tbody>
            </table>
        <!-- </div> -->
        <!-- Paging -->
        <nav class="text-center">
            <ul pagination
                total-items="totalUsers"
                items-per-page="usersPerPage"
                ng-model="currentPage"
                max-size="pagerMaxSize"
                ng-change="pageChanged()"
                boundary-links="true"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
            </ul>
        </nav>
    </section>   
</div>