<div class="row">
    <div class="col-xs-12 col-sm-3">
        <strong>Status:</strong>
        <div class="well well-sm status-box text-center admin-staus-ad">
            <span class="title">{{ ad.status }}</span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-9">
        <ul class="list-group" >
            <li class="list-group-item">Username: <span>{{ ad.ownerUsername }}</span></li>
            <li class="list-group-item">Categiry: <span>{{ ad.categoryName }}</span></li>
            <li class="list-group-item">Town: <span>{{ ad.townName }}</span></li>                                  
        </ul>
    </div>
    <!-- Admin buttons -->     
    <div class="col-xs-12">                        
        <div class="row text-center">
            <div class="col-xs-6 col-sm-3">
                <button type="button" class="btn btn-primary admin-btn"
                ng-click="adminApproveAdClicked(ad.id)">Approve</button>
            </div>
            <div class="col-xs-6 col-sm-3">
                <button type="button" class="btn btn-primary admin-btn admin-btn"
                ng-click="adminRejectAdClicked(ad.id)">Reject</button>
            </div>
            <div class="col-xs-6 col-sm-3">
                <button type="button" class="btn btn-primary admin-btn"
                ng-click="adminEditAdClicked(ad.id)">Edit</button>
            </div>                           
            <div class="col-xs-6 col-sm-3">
                <button type="button" class="btn btn-primary admin-btn"
                ng-click="adminDeleteAdClicked(ad)"
                data-toggle="modal" data-target="#delete-modal">Delete</button>
            </div>                                                
        </div>        
    </div>
    <!-- Modal Delete ad -->
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="delete-modal-label">Confirm Deleting Ad?</h4>
                </div>
                <div class="modal-body">
                    <div class="head-ad">
                        <strong class="title">{{ adForDeleting.title }}</strong>
                        <span class="pull-right">{{ adForDeleting.date | date: 'd MMM yyyy' }}</span>
                    </div>
                    <div class="row">
                        <div class="mod-cnt">
                            <div class="col-xs-12 col col-sm-4">
                                <a href="" class="thumbnail"> <img src="" alt="image"
                                    ng-src="{{ adForDeleting.imageDataUrl }}"
                                    err-src="../img/no-image.gif" /> </a>
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <p>{{ adForDeleting.text }}</p>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        Category: <span>{{ adForDeleting.categoryName }}</span>
                                    </li>
                                    <li class="list-group-item">
                                        Town: <span>{{ adForDeleting.townName }}</span>
                                    </li>
                                    <li class="list-group-item">
                                        Username: <span>{{ adForDeleting.ownerUsername }}</span>
                                    </li>
                                    <li class="list-group-item">
                                        Username: <span>{{ adForDeleting.ownerName }}</span>
                                    </li>
                                    <li class="list-group-item">
                                        Email: <span><a href="mailto:{{ adForDeleting.ownerEmail }}">{{ adForDeleting.ownerEmail }}</a></span>
                                    </li>
                                    <li class="list-group-item">
                                        Tel: <span>{{ adForDeleting.ownerPhone }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-primary"  data-dismiss="modal"
                        ng-click="adminDeleteAdConfirmed(adForDeleting.id)">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>  
</div>