body {
    background-image: url("../img/background.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

div, li {
    overflow: hidden;
}

#login-register {
    padding: 15px;
}

#login-register a {
    margin-top: 15px;
}

.ad {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

img {
    max-height: 250px;
}

.title {
    font-size: 13pt;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

#username {
    margin-left: 15px;
}

#top-navbar {
    margin-bottom: 50px;
}

#left-buttons {
    margin-left: -15px;
}

#footer-container {
    padding: 0;
    margin-top: 40px;
}

#site-footer {
    margin-bottom: 0;
}

#site-footer p {
    margin: 0;
}

#site-footer > div {
    padding: 5px;
}

.form input, .form select, .form textarea {
    margin-bottom: 15px;
}

.user-nav {
    padding: 5px;
}

.user-nav header {
    padding: 5px 0;
}

#sub-menu {
    margin: 2px 0 8px 0;
}

#image-box {
    min-height: 200px;
}

#browse {
    margin: 15px 0;
}

#submit-ad {
    margin-right: 5%;
}

#cancel-ad {
    margin-left: 5%;
}

.status-box {
    margin-top: 5px;
    margin-bottom: 0;
}

.ad-status-btn {
    margin-top: 10px;
    width: 100%;
}

@media screen and (max-width: 992px) {
    .ad-status-btn {
        width: 32.8%;
    }
}

.head-ad {
    padding: 10px;
}

.mod-cnt {
    padding-left: 10px;
    padding-right: 10px;
}

.btn-edit {
    width: 72px;
    margin: 15px 10px 0 10px;
    width: 100px;
}

.brws-edit {
    display: inline-block;
    vertical-align: middle;
}

.label-edit {
    font-weight: normal;
    display: block;
}

@media screen and (max-width: 992px) {
    .label-edit {
        display: inline-block;
    }
}

.label-edit input {
    margin-left: 10px;
}

.text-edit {
    margin-bottom: 10px;
}

.admin-btn {
    width: 100%;
    margin-top: 15px;
}

.admin-staus-ad {
    margin-bottom: 15px;
}

.sort-title:hover {
    cursor: pointer;
}

.create-btn {

}
.modal-shrink {
    width: 400px;
}

@media screen and (max-width: 420px) {
    .modal-shrink {
        width: auto;
    }
}

.modal-shrink button, .modal-delete-user button {
    width: 80px;
}

.modal-shrink input {
    margin-top: 10px;
}

.admin-edit-user button, .admin-edit-user a {
    width: 120px;
    margin-top: 15px;
}

.admin-edit-user form, .register-form form, #login-form form, .modal-content form,
    .form form {
    margin-bottom: 0;
}

.register-form .text-center, #login-form .text-center, .form .text-center {
    padding-top: 15px;
}

.register-form button, #login-form button, .form button,
    .form a {
    width: 80px;
}

.admin-edit-user .well {
    margin-bottom: 15px;
}

.modal-delete-user {
    width: 500px;
}

@media screen and (max-width: 520px) {
    .modal-delete-user {
        width: auto;
    }
}











