body {
    background-image: url("../img/thumb07.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

div, li {
    overflow: hidden;
}

#login-register {
    padding-top: 15px;
    padding-bottom: 15px;
}

.ad {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

img {
    max-height: 300px;
}

.title {
    font-size: 13pt;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

#top-navbar {
    margin-bottom: 50px;
}

#left-buttons {
    margin-left: -15px;
}

#footer-container {
    padding: 0;
    margin-top: 40px;
}

#site-footer {
    margin-bottom: 0;
}

#site-footer p {
    margin: 0;
}

#site-footer > div {
    padding: 0;
}

#reg-form input, select {
    margin-bottom: 15px;
}

